/* Navbar Font */
/* Navbar Font */
/* Navbar Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Barlow", sans-serif;
  background-color: black;
}

.section-title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-weight: 55px;
  color: white;
}

.h0 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: white;
}

.h1 {
  font-family: "Inter", sans-serif;
  color: #e5c300;
  font-weight: 700;
}

.h3 {
  font-family: "Inter", sans-serif;
  color: #e5c300;
  font-weight: 700;
}

.h4 {
  font-family: "Barlow", sans-serif;
  color: white;
  font-weight: 700;
}

.h5 {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 700;
}

.p {
  color: white;
  font-size: 17px;
  line-height: 2;
}

main {
  background: url("/assets/images/background/2021-02-16-upscaled.jpg"), linear-gradient(140deg, #101010, #343c19, #676d20, #9d9f13);
  background-blend-mode: soft-light !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  min-height: 100vh;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.accordion {
  --bs-accordion-bg: #101010;
  --bs-accordion-active-bg: #101010;
  --bs-accordion-active-color: #e5c300;
  --bs-accordion-btn-color: white;
}

.accordion-item {
  color: white;
}

.accordion-button {
  font-size: 20;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

.accordion-button:after {
  color: white !important;
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.btn {
  font-weight: 700;
  font-size: 20px;
  --bs-btn-border-radius: 0.3rem;
}

hr {
  border-top: 2px solid white;
}

.p-font {
  font-family: "Barlow", sans-serif;
}

.s-font {
  font-family: "Inter", sans-serif;
}

table {
  border-width: 2px;
  border-style: solid;
  border-color: white;
  table-layout: fixed;
  color: white;
  text-align: center;
  font-family: "Barlow", sans-serif;
}

tr:nth-child(odd) {
  background-color: #464646;
}

tr:nth-child(even) {
  background-color: #393939;
}

td,
th {
  padding: 10px 0;
}

td > span {
  text-decoration: underline;
  cursor: pointer;
}

.dropdown-toggle {
  color: white;
  cursor: pointer;
}

.text-justify {
  text-align: justify;
}

.mobile-num {
  text-decoration: underline;
}

.emailTrigger {
  color: white;
  cursor: pointer;
}

.emailTrigger:hover {
  color: #e5c300 !important;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.read-more {
  cursor: pointer;
  transition: 0.2s;
}

.read-more:hover {
  color: #e5c300 !important;
}

#gmap_canvas {
  width: 100%;
  height: 500px;
}

.carousel-item > img {
  border-radius: 10px !important;
}

.card-title {
  font-weight: 800;
}

.card-text {
  font-weight: 400;
}

[id^=announcementImage] {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px !important;
}

@media only screen and (max-width: 992px) {
  .h0 {
    font-size: 45px !important;
  }
}
@media only screen and (max-width: 576px) {
  .h0 {
    font-size: 35px !important;
  }
  .main-content p {
    font-size: 2vh !important;
  }
  .row > * {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  footer {
    text-align: center;
  }
}
/* Navbar Font */
.main-content #bigDescription,
.main-content #smallDescription {
  text-align: center;
}
.main-content p {
  font-size: 20px;
}

section#recent-announcements {
  background: url("/assets/images/announcements/preview.jpg"), linear-gradient(160deg, #101010, #343c19, #676d20, #9d9f13);
  background-blend-mode: soft-light !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

#announcementImage1 {
  border-radius: 10px;
}

#announcementImage2 {
  border-radius: 10px;
}

#announcementImage3 {
  border-radius: 10px;
}

#announcementImage4 {
  border-radius: 10px;
}

section#our-services {
  background-color: #ac9b02 !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.service-title, .announcement-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-align: center;
}

#service1 {
  background: var(--service1_img_path), linear-gradient(140deg, #101010, #343c19, #676d20, #9d9f13);
  transition: 1s;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  height: 100%;
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

#service1:hover {
  background: var(--service1_img_path), linear-gradient(140deg, #101010, #9d9f13, #676d20, #343c19);
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

#service2 {
  background: var(--service2_img_path), linear-gradient(140deg, #101010, #343c19, #676d20, #9d9f13);
  transition: 1s;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  height: 100%;
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

#service2:hover {
  background: var(--service2_img_path), linear-gradient(140deg, #101010, #9d9f13, #676d20, #343c19);
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

#service3 {
  background: var(--service3_img_path), linear-gradient(140deg, #101010, #343c19, #676d20, #9d9f13);
  transition: 1s;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  height: 100%;
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

#service3:hover {
  background: var(--service3_img_path), linear-gradient(140deg, #101010, #9d9f13, #676d20, #343c19);
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

#service4 {
  background: var(--service4_img_path), linear-gradient(140deg, #101010, #343c19, #676d20, #9d9f13);
  transition: 1s;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  height: 100%;
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

#service4:hover {
  background: var(--service4_img_path), linear-gradient(140deg, #101010, #9d9f13, #676d20, #343c19);
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

#service5 {
  background: var(--service5_img_path), linear-gradient(140deg, #101010, #343c19, #676d20, #9d9f13);
  transition: 1s;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  height: 100%;
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

#service5:hover {
  background: var(--service5_img_path), linear-gradient(140deg, #101010, #9d9f13, #676d20, #343c19);
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

#service6 {
  background: var(--service6_img_path), linear-gradient(140deg, #101010, #343c19, #676d20, #9d9f13);
  transition: 1s;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  height: 100%;
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

#service6:hover {
  background: var(--service6_img_path), linear-gradient(140deg, #101010, #9d9f13, #676d20, #343c19);
  background-repeat: no-repeat !important;
  background-blend-mode: soft-light !important;
  background-size: 100% !important;
  border-radius: 5px;
  cursor: pointer;
}

section#contact {
  background-color: #101010 !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}/*# sourceMappingURL=front-page.css.map */