@import "variables";
@import "globals";

.person {
  margin-bottom: 30px;
}

.personnelImg {
  width: 15rem;
  height: 18rem;
  border-radius: 5px;
  background-size: 100% 100%;
  margin: auto;
}

.personnelInfo {
  margin-top: 10px;
  display: grid;
  gap: 1px;
  color: white;
  text-align: center;
  .name {
    font-weight: $p-bold;
  }
}
